/* #region common styling */
* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
}
html {
    max-width: 1366px;
    margin: auto;
}
body {
    padding: 0 1rem 0 1rem;
}
p, ul, li {
    margin: 0;
}
ul {
    padding-left: 2em;
}
h1, h2, h3, h4 {
    margin: 0;
    font-optical-sizing: auto;
    font-style: normal;
    font-family: "Coming Soon", sans-serif;
    font-weight: 800;
}
a {
    text-decoration: none;
}
a:link, a:visited {
    color: white;
    background-color: black;
}
a:hover {
    color: black;
    background-color: white;
    text-decoration: underline;
}
/* #endregion */

/* #region header */
nav {
    display: flex;
    height: 4em;
    justify-content:space-between;
}
/* #region header.title */
nav .title {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .title img {
    height: 60%;
    width: auto;
}
/* #endregion */

/* #region header.menu */
nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav .menu li {
    display: inline-block;
}
nav .menu li:not(:last-of-type)::after {
    margin: 0 0.2em 0 0.4em;
    content: "/";
}
/* #endregion */
/* #endregion */

/* #region section */
section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "hero hero hero"
        "project experience education"
        "review review review";
    justify-content: center;
    gap: 2rem;
}
/* #region section.hero */
section .hero {
    height: 40svh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    grid-area: hero;
}
/* #endregion */
/* #region section.project */
section .project {
    grid-area: project;
}
section .project ul {
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

section .project li {
    display: grid;
    padding: 0.6rem 0 0.6rem 0;
}
section .project li:not(:last-of-type){
    border-bottom: 0.125rem solid black;
}
/* #endregion */
/* #region section.experience */
section .experience {
    grid-area: experience;
}
section .experience .experience-container {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}
/* #endregion */
/* #region section.education */
section .education {
    grid-area: education;
}
/* #endregion */
/* #region section.review */
section .review {
    grid-area: review;
}
section .review .review-container {
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
    overflow-x: scroll;
}
section .review .review-container .review-content {
    width: 20rem;
    padding: 1rem;
    border: 0.125rem solid black;
    border-radius: 1.6rem;
    display: grid;
    gap: 1rem;
}
section .review .review-container .review-content > div {
    color: gray;
}
/* #endregion */
/* #endregion */

/* #region footer */
footer {
    height: 10svh;
    display: grid;
    justify-content: center;
    align-content: center;
}
footer p {
    font-optical-sizing: auto;
    font-style: normal;
    font-family: "Coming Soon", sans-serif;
    font-weight: 800;
}
/* #endregion */

@media only screen and (max-width: 720px) {
    body {
        padding: 0 0.1rem 0 0.1rem;
    }
    
    h1, h2 {
        text-align: center;
    }
    header {
        overflow: hidden;
    }
    header nav {
        flex-direction: column;
        height: fit-content;
        gap: 1rem;
    }
    header nav .title {
        flex-direction: column;
        gap: 1rem;
    }
    header nav .title img {
        height: auto;
        width: 10%;
    }
    section {
        display: grid;
        /* grid-auto-flow: row; */
        grid-template-columns: none;
        grid-template-areas:
            "hero"
            "project"
            "experience"
            "education"
            "review";
        justify-content: center;
        gap: 1rem;
    }
    
    section .hero {
        padding: 1rem 0 0 0;
        height: fit-content;
    }
    section .project li {
        text-align: center;
    }
    section .review {
        overflow:hidden;
        /* display: none; */
        /* max-width: 100lvw; */
    }
    section .review .review-container .review-content {
        width: 80lvw;
    }
  }