/* #region common styling */
* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
}

h1, h2, h3, h4 {
    font-optical-sizing: auto;
    font-style: normal;
    font-family: "Coming Soon", sans-serif;
    font-weight: 800;
}
/* #endregion */

/* #region header */
nav {
    display: flex;
    height: 4em;
    justify-content:space-between;
}
/* #region header.title */
nav .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em 0 1em;
}
nav .title img {
    height: 60%;
    width: auto;
}
/* #endregion */

/* #region header.menu */
nav .menu {
    padding: 0 1em 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav .menu li {
    display: inline-block;
}
nav .menu li:not(:last-of-type)::after {
    margin: 0 0.2em 0 0.4em;
    content: "/";
}
nav a {
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
nav a:visited {
    color: black;
}
/* #endregion */
/* #endregion */
